<mat-card class="box">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onRegister(form)" novalidate>
            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Firstname</mat-label>
                    <input matInput formControlName="firstname" name="firstname">

                    <mat-error *ngIf="form.controls['firstname'].errors?.['required']">Firstname is required</mat-error>
                    <mat-error *ngIf="form.controls['firstname'].errors?.['firstnameInvalid']">
                        {{errorMessages.firstname}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Lastname</mat-label>
                    <input matInput formControlName="lastname" name="lastname">

                    <mat-error *ngIf="form.controls['lastname'].errors?.['required']">Lastname is required</mat-error>
                    <mat-error *ngIf="form.controls['lastname'].errors?.['lastnameInvalid']">
                        {{errorMessages.lastname}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" name="username">

                    <mat-error *ngIf="form.controls['username'].errors?.['required']">Username is required</mat-error>
                    <mat-error *ngIf="form.controls['username'].errors?.['usernameInvalid']">
                        {{errorMessages.username}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-3 has-validation">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" name="password">

                    <mat-error *ngIf="form.controls['password'].errors?.['required']">Password is required</mat-error>
                    <mat-error *ngIf="form.controls['password'].errors?.['passwordInvalid']">
                        {{errorMessages.password}}
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Register</button>
        </form>
    </mat-card-content>
</mat-card>