<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <a class="ms-3 navbar-brand " href="#">Article</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form onsubmit="event.preventDefault()" class="w-50  mt-4 mb-4 container form-inline input-group">
            <input class="form-control" type="text" placeholder="Search for an Article">
            <button class="input-group-append btn btn-secondary" type="submit">
                <span class="bi bi-search"></span>
            </button>
        </form>

        <ul class="navbar-nav mr-auto">
            <div *ngIf="this.authService.isLoggedOut()" class="d-flex flex-row">
                <a routerLink="/register" class="p-2 nav-item active">
                    <button type="button" class="btn btn-primary ms-1">Register</button>
                </a>
                <a routerLink="/login" class="me-4 p-2 nav-item active">
                    <button type="button" class="btn btn-danger">Login</button>
                </a>
            </div>

            <div *ngIf="this.authService.isLoggedIn()" class="d-flex">
                <a routerLink="/publish" class="flex-column mt-1 me-3 nav-link">Publish</a>
                <button type="button" (click)="onLogout()" class="btn btn-danger me-3">Logout</button>
                <a routerLink="/" class="flex-column me-3">
                    <img
                        src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1512936020165x278911292087286720%2FA.png?w=&h=&auto=compress&dpr=1&fit=max">
                </a>
            </div>

        </ul>
    </div>
</nav>