<div class="container mb-3">
    <div class="row input-group mb-3 ms-1">
        <span class="col-sm-2 input-group-text">Title</span>
        <input [(ngModel)]="title" type="col-sm-10 text" class="form-control">
    </div>

    <div class="row input-group mb-3 ms-1">
        <span class="col-sm-2 input-group-text">Subtitle</span>
        <input [(ngModel)]="subtitle" type="col-sm-10 text" class="form-control">
    </div>

    <angular-editor [(ngModel)]="htmlContent" [config]="config" class="row"></angular-editor>

    <div class="row justify-content-end mt-4">
        <button (click)="onPublish()" type="button" class="btn btn-primary col-lg-1">Publish</button>
        <button (click)="onDiscard()" type="button" class="btn btn-outline-secondary ms-3 col-lg-1">Discard</button>
    </div>
</div>