.box {
    width: 100% !important;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
    background-color: rgb(243, 240, 240);
    text-align: center;
}

mat-form-field {
    width: 75%;
}

@media (min-width: 384px) {
    .box {
        width: 75% !important;
    }
}

@media (min-width: 576px) {
    .box {
        width: 50% !important;
    }
}

@media (min-width: 800px) {
    .box {
        width: 25% !important;
    }
}