<div class="mt-5 w-25 p-4 container border border-3 rounded-3">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input [(ngModel)]="username" placeholder="Username" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input [(ngModel)]="password" placeholder="Password" type="password" class="form-control">
    </div>

    <button (click)="onLogin()" type="submit" class="mt-2 btn btn-primary">Login</button>
</div>