<mat-card class="box">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onLogin(form)">
            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" name="username" class="text-field">

                    <mat-error *ngIf="form.controls['username'].errors?.['required']">Email is required</mat-error>
                    <mat-error *ngIf="form.controls['username'].errors?.['usernameInvalid']">{{errorMessage.username}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-3">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" name="password" class="text-field">

                    <mat-error *ngIf="form.controls['password'].errors?.['required']">Password is required</mat-error>
                    <mat-error *ngIf="form.controls['password'].errors?.['passwordInvalid']">
                        {{errorMessage.password}}
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Sign in</button>
        </form>
    </mat-card-content>
</mat-card>